$diesel-50: #ffebed;
$diesel-100: #ffd0d4;
$diesel-200: #ffa0ac;
$diesel-300: #ff647d;
$diesel-400: #ff2658;
$diesel-500: #ff0049;
$diesel-600: #ff0067;
$diesel-700: #d70062;
$diesel-800: #aa0250;
$diesel-900: #880642;
$diesel-950: #14000a;