@import "./colors/colors.scss";

.modal- {
  &product_view {
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &imagen_view {
    display: flex;
    align-items: center;
    img {
      width: 500px;
      position: relative;
      right: 120px;
      top: 20px;
    }
  }
  &info_view {
    width: 500px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    hr {
      opacity: 0.1;
      border: 0.5px solid $diesel-950;
    }
    h3 {
      font-size: 40px;
      color: $diesel-400;
    }
    p,
    .ingredients {
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 1px;
      opacity: 0.7;
      color: $diesel-950;
    }
    .price-button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 20px;
        font-weight: bolder;
        color: $diesel-400;
      }
      button {
        border: none;
        background-color: $diesel-500;
        padding: 15px 30px;
        border-radius: 5px;
        display: flex;
        gap: 15px;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
  }
}


/* Estilos para pantallas pequeñas */
@media screen and (max-width: 600px) {
  .modal-{
    &product_view{
      scale: 1;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      img{
        scale: 1.2;
        right: 20px;
      }
    }
    
  }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .modal-{
    &product_view{
      scale: 1;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      img{
        scale: 1.2;
        right: 20px;
      }
    }
    
  }
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 1025px) {

}
